# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Output
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# Testing
coverage/

# Misc
test.http
ignoreme.md
.DS_Store
# AI context file
CODEBASE_MAP.md
